body {
    padding-top: 5rem;
  }

  h1,h2{

    color: floralwhite;
  }
  
  body, html {
    height: 100%;
  }
  .text{
    font-size: 23px;
    color: chartreuse;
  }
  .link{
    color: white;
    font-size: 20px;

  }
  
  #img-circle{
    border-radius: 50%;
  }
  .video-wrapper {
    width: 100%;
    background-color: lightblue;
  }
  .img{

    height: 50px;
    width: 50px;

  }
  section {
    margin: 1rem;
    padding: 2rem;
    background-color:coral;
    border-radius: 1em;
  }
  
  .bgimg {
    background-image: url("stars.jpg");
    height: 100%;
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  }
  
  
  
  